@import url(https://fonts.googleapis.com/css?family=Roboto:400);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

* {
  font-size: 16px;
}

input:focus,
button:focus {
  outline: none;
}

button:hover,
.reset:hover {
  opacity: 0.8;
}

button:active,
.reset:active {
  opacity: 0.5;
}

.container {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.steps {
  margin-bottom: 10px;
  position: relative;
  height: 25px;
}

.steps > div {
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  height: 25px;
  padding: 0 5px;
  display: inline-block;
  width: 80px;
  text-align: center;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.steps > div > span {
  line-height: 25px;
  height: 25px;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.steps > div > .liner {
  position: absolute;
  height: 1px;
  width: 0%;
  left: 0;
  top: 50%;
  margin-top: 1px;
  background: #999;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.step-one {
  left: 0;
}

.step-two {
  left: 50%;
  clip: rect(0, 0px, 25px, 0px);
}

.step-three {
  left: 100%;
  clip: rect(0, 0px, 25px, 0px);
}

.line {
  width: 100%;
  height: 5px;
  background: #ddd;
  position: relative;
  border-radius: 10px;
  overflow: visible;
  margin-bottom: 40px;
}

.line .dot-move {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ddd;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.line .dot {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  left: 0;
  background: #ddd;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}

.line .dot.zero {
  left: 0%;
  background: #bbb;
}

.container.slider-one-active .dot.zero {
  background: #5892fc;
}

.line .dot.center {
  left: 50%;
  background: #bbb;
}

.line .dot.full {
  left: 100%;
  background: #bbb;
}

.slider-ctr {
  width: 100%;
  overflow: hidden;
}

.slider {
  overflow: hidden;
  width: 1200px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: translate(0px) scale(1);
  -ms-transform: translate(0px) scale(1);
  transform: translate(0px) scale(1);
}

.container.slider-one-active .slider-two,
.container.slider-one-active .slider-three {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.container.slider-two-active .slider-one,
.container.slider-two-active .slider-three {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.container.slider-three-active .slider-one,
.container.slider-three-active .slider-two {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.slider-one,
.slider-two,
.slider-three {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.slider-form {
  float: left;
  width: 400px;
  text-align: center;
}

.slider-form h2 {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 545;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}

.slider-form h2 .yourname {
  font-weight: 400;
}

.slider-form h3 {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 545;
  margin-bottom: 25px;
  line-height: 1.5;
  color: #fff;
  position: relative;
}

.slider-form h3 .balapa {
  font-family: "Pacifico", sans-serif;
  margin-top: 5px;
  background-color: #fff;
  display: inline-block;
  color: #5892fc;
  text-decoration: none;
}

.slider-form [type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  background: #000;
  border: 1px solid transparent;
  color: rgb(236, 233, 233);
  border-radius: 50px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  z-index: 99;
}

.slider-form [type="text"]:focus {
  border: 3px solid #000;
}

.slider-form button,
.reset {
  display: inline-block;
  text-decoration: none;
  background: #5892fc;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  position: relative;
}

.label-ctr {
  margin-bottom: 30px;
}

label.radio {
  height: 55px;
  width: 55px;
  display: inline-block;
  margin: 0 10px;
  background: transparent;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

label.radio input {
  visibility: hidden;
}

label.radio input:checked + .emot {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

label.radio input:checked + .emot,
label.radio input:checked + .emot .mouth {
  border-color: #5892fc;
}

label.radio input:checked + .emot:before,
label.radio input:checked + .emot:after {
  background: #5892fc;
}

label.radio .emot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fafafa;
  border-radius: 50%;
  border: 2px solid #ddd;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

label.radio .emot:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 5px;
  height: 10px;
  background: #ddd;
}

label.radio .emot:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 5px;
  height: 10px;
  background: #ddd;
}

label.radio .emot .mouth {
  position: absolute;
  bottom: 10px;
  right: 15px;
  left: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #ddd;
  background: transparent;
  clip: rect(0, 35px, 10px, 0);
}

label.radio .emot .mouth.smile {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

label.radio .emot .mouth.sad {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

/*	center */

.container.center .line .dot-move {
  left: 50%;
  -webkit-animation: 0.3s anim 1;
}

.container.center .line .dot.center {
  background: #5892fc;
}

.container.center .slider {
  -webkit-transform: translate(-400px);
  -ms-transform: translate(-400px);
  transform: translate(-400px);
}

.container.center .step-two {
  clip: rect(0, 100px, 25px, 0px);
}

.container.center .step-one .liner {
  width: 100%;
}

/*	full */

.container.full .line .dot-move {
  left: 100%;
  -webkit-animation: 0.3s anim 1;
}

.container.full .line .dot.full {
  background: #5892fc;
}

.container.full .slider {
  -webkit-transform: translate(-800px);
  -ms-transform: translate(-800px);
  transform: translate(-800px);
}

.container.full .step-two,
.container.full .step-three {
  clip: rect(0, 100px, 25px, 0px);
}

.container.full .step-one .liner,
.container.full .step-two .liner {
  width: 100%;
}

.topper {
  font-size: 10px;
}

.logo_img {
  height: 150px;
  width: 170px;
  align-self: center;
  justify-content: center;
  margin-bottom: 10px;
}

body {
  background: -webkit-linear-gradient(left, #012966, #02204d);
}
