@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #e1ecf2;
} /*
.wrapper {
  margin: 10px;
}*/
.top_navbar {
  width: 100%;
  height: 60px;
  display: flex;
  /*position: fixed;*/
  top: 10px;
}

.top_navbar .hamburger {
  width: 70px;
  /*height: 100%;*/
  background-image: url(https://www.microsoft.com/en-us/research/uploads/prod/2019/11/Area_IconHeader_Intell_AI-ML_11_2019_1920x720.png);
  color: #fff;
  padding: 15px 17px;
  /*border-top-left-radius: 20px;*/
  cursor: pointer;
}

.top_navbar .hamburger div {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  /*border-radius: 5px;*/
}

.top_navbar .top_menu {
  width: calc(100% - 70px);
  /*height: 100%;*/
  background-image: url(https://www.microsoft.com/en-us/research/uploads/prod/2019/11/Area_IconHeader_Intell_AI-ML_11_2019_1920x720.png);
  border-bottom: 1px ridge #333;
  /*border-top-right-radius: 20px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 0 20px;*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.top_navbar .top_menu .logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.top_navbar .top_menu ul {
  display: flex;
  z-index: 1;
}

.wrapper .top_navbar .top_menu ul li a {
  display: block;
  /*margin: 0 10px;*/
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #000;
  /*border-radius: 50%;*/
  color: #2e4ead;
}

.top_navbar .top_menu ul li a:hover {
  background-image: url(https://www.microsoft.com/en-us/research/uploads/prod/2019/11/Area_IconHeader_Intell_AI-ML_11_2019_1920x720.png);
  color: #fff;
}

.top_navbar .top_menu ul li a:hover i {
  color: #fff;
}

.sidebar {
  position: absolute;
  /*z-index: 1;*/
  top: 70px;
  /*left: 10px;
  background-image: url(https://www.microsoft.com/en-us/research/uploads/prod/2019/11/Area_IconHeader_Intell_AI-ML_11_2019_1920x720.png);
  width: 200px;*/
  /*height: calc(100% - 80px);*/
  background-color: #000;
  height: 92.5vh;
  /*border-bottom-left-radius: 20px;*/
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: #92a6e2;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  /*height: 100%;*/
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background-image: url(https://www.microsoft.com/en-us/research/uploads/prod/2019/11/Area_IconHeader_Intell_AI-ML_11_2019_1920x720.png);
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .main_container {
  width: (100% - 200px);
  margin-top: 70px;
  /*margin-left: 200px;*/
  /*padding: 15px;*/
  transition: all 0.3s ease;
}

.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar ul li a {
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
  background-color: #000;
  z-index: 5;
}

.wrapper.collapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.collapse .main_container {
  width: (100% - 70px);
  /*margin-left: 70px;*/
}
