body{
    padding: 50px 0px 0px 0px;
    z-index: 0px;
}

.navbar-light{
    background-color: aqua;
}

.head{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel{
    background: #08272c;
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;  
    min-height: 400px;
}

.jumbotron{
    margin-left: 110px;
    align-self: center;
    text-align: center;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    font-family: fantasy;
    color: #f7f7f7;
    width: 1300px;
}

.footer {
    background-color: #8bd3d8;
    margin: 0px auto;
    padding: 20 px 0px 20px 0px;    
}






