body {
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

.navbar-light {
  background-color: rgb(175, 174, 174);
}
.nav-item {
  text-decoration: none;
  margin-top: 30px;
}
.nav-item:hover {
  background-color: rgb(206, 193, 193);
  transition: 0.75s;
}

.head {
  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  min-height: 400px;
}
.jumbotron {
  text-align: center;
  padding: 30px;
  background-color: #FFF0F5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 20px;
}
.carousel{
  background-color: black;
  height: 500px;
}
.footer {
  width: 100%;
  padding: 15px 0px 0px 0px;
}

@media (min-width: 500px) {
  .jumbotron img {
    padding-top: 150px;
    align-self: center;
  }
}

@media (max-width: 500px) {
  .navbar-brand {
    margin-left: 0px auto;
  }
  .navbar-toggler {
    margin-top: 0px auto;
  }
}

.pink {
  background-color: pink;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding: 50px 0px 50px 0px;
}
/*
.card {
  box-shadow: 4px 4px #333;
}

.card-title {
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid #333;
}

.card-text {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-body {
  background-color: whitesmoke;
}
*/
.row-card {
  padding: 10px 10px 20px 10px;
  margin: 20px;
}

.jumbotron h1 {
  padding-bottom: 20px;
  border-bottom: 2px solid #285961;
  font-family: serif;
}

.news-component h1 {
  border-bottom: 2px groove #333;
  padding-bottom: 20px;
  font-family: serif;
}

.btn-facebook:hover,
.btn-linkedin:hover,
.btn-twitter:hover {
  background-color: rgb(206, 193, 193);
  transition: 0.5s;
}
.college-name {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* Materialize CSS */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.hoho{
  margin-top: 7px;
}
.hoho:hover {
  color: #f7f7f7;
  background-color: grey;
}

nav{
  height: 80px;
  background-color: darkslategrey;
  color: white;
}

.page-footer{
  background-color: darkslategrey;
  color: #d9d9d9;
}

.navbar-brand{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}

.head-about{
  font-size: 35px;
}
.head-news{
  font-size: 40px;
}

.container{
  padding-left: 1px;
}