<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/font-awesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap-social/bootstrap-social.css"
    />
    <link rel="stylesheet" href="/CSS/components.css" />
    <title>CALIBRE-DTU/Contact-Us</title>
  </head>
  <body>
    <!-- NAV-BAR -->

    <nav class="navbar navbar-expand-lg navbar-light mt-0">
      <div class="container">
        <a class="navbar-brand mr-auto" href="#"
          ><img src="/stricslogooblack.png" height="90" width="100" /><span
            class="head"
            >CALIBRE-DTU
          </span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html"
                ><img src="/SVG/home.svg" height="20" width="30" /> Home</a
              >
            </li>
            <li class="nav-item">
              <a href="Research.html" class="nav-link"
                ><img src="/SVG/search.svg" height="20" width="20" />
                Research</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="papers.html"
                ><img src="/SVG/scroll.svg" height="20" width="30" />Papers</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img src="/SVG/user.svg" height="20" width="30" /> Team</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/news.html"
                ><img src="/SVG/newspaper.svg" height="20" width="30" /> News</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img src="/SVG/calendar.svg" height="20" width="30" />
                Events</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <!-- MAIN -->

    <div class="container">
      <div class="form">
        <form>
          <div class="form-group form-header">
            <h2 class="b-b"><u>Feedback Please</u></h2>
          </div>
          <div class="form-group form-body">
            <ul class="inline">
              <li class="form-list form-item">
                <p class="col-4 col-md-4 col-xs-12">
                  Your name:
                  <br />
                  <input
                    type="text"
                    placeholder="Name Please"
                    class="col-md-7 col-xs-12"
                  />
                </p>
              </li>
              <li class="form-list form-item">
                <p class="col-4 col-md-4 col-sm-12">
                  Your phone number:
                  <input
                    type="tel"
                    placeholder="Contact number"
                    class="col-7 col-md-7 col-xs-12"
                  />
                </p>
              </li>
              <li class="form-list form-item">
                <p class="col-4 col-md-4">
                  Feedback:
                </p>
                <textarea
                  placeholder="Feedback"
                  class="col-6 col-md-6"
                ></textarea>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>


    
    <!-- Footer -->
    <footer class="footer" id="footer">
      <div class="container-fluid">
          <div class="row">             
              <div class="col-md-6">
                  <div class="text-center">
                  <span class="college-name">DELHI TECHNOLOGICAL UNIVERSITY</span>
              </div>
          </div>
              <div class="col-md-6">
                  <div class="text-center"> 
                      <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/dtutimes/"><img src="/SVG/facebook-f.svg" height="30"></a>
                      <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/calibre-dtu/about/"><img src="/SVG/linkedin-in.svg" height="30"></a>
                      <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><img src="/SVG/twitter.svg" height="30"></a>
                      <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                  </div>
              </div>
         </div>
         <div class="row justify-content-center">             
                  <p>© Copyright 2020 CALIBRE DTU</p>
         </div>
      </div>
  </footer>

    <!-- jQuery, Popper.js, Bootstrap JS. -->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
