<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/font-awesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap-social/bootstrap-social.css"
    />
    <!-- CDN FOR MATERIALIZE CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- FORM TEMPLATE -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../CSS/sidenav.css" />
    <link rel="stylesheet" href="../CSS/test.css" />
    <link rel="stylesheet" href="../CSS/footer.css" />
    <link rel='stylesheet' href="../CSS/contact.css" />
    <title>CALIBRE-DTU-Contact-us</title>
  </head>

  <body>
      <!-- NAVBAR -->
    <div class="wrapper">
      <div class="top_navbar" id="navbar">
        <div class="hamburger">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <div class="top_menu">
          <div class="logo">CALIBRE-DTU</div>
        </div>
      </div>
      <div class="wrap collapse">
        <div class="sidebar">
          <ul>
            <li>
              <a href="../index.html">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="title">Home</span></a
              >
            </li>
            <li>
              <a href="./Research.html">
                <span class="icon"><i class="fas fa-search"></i></span>
                <span class="title">Research</span></a
              >
            </li>
            <li>
              <a href="./papers.html">
                <span class="icon"><i class="fas fa-scroll"></i></span>
                <span class="title">Papers</span>
              </a>
            </li>
            <li>
              <a href="./team.html">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span class="title">Meet the Team</span>
              </a>
            </li>
            <li>
              <a href="./news.html">
                <span class="icon"><i class="fas fa-newspaper"></i></span>
                <span class="title">News & Events</span>
              </a>
            </li>
            <li>
              <a href="./collaborate.html">
                <span class="icon"><i class="fas fa-pencil-ruler"></i></span>
                <span class="title">Collaborate with us</span>
              </a>
            </li>
            <li>
              <a href="#"  class="active">
                <span class="icon"><i class="fas fa-address-card"></i></span>
                <span class="title">Contact us</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- NAVBAR ENDS -->

    <!-- FORM -->
    <div class="container contact-form">
        <div class="contact-image">
           <!--<img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>-->
            <img src = '../stricslogooblack.png' height= '150' width= '1000' alt="logo" /> 
        </div>
        <!--<form method="post">-->
          <form>
            <h3>Drop Us a Message</h3>
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" required />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" required />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number (Optional)" value="" />
                    </div>
                    <div class="form-group">
                          <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;" required></textarea>
                    </div>
                </div>
            </div>
        </form>
</div>
    <!-- FROM ENDS -->


    <!-- FOOTER -->
     <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12 text-center">
              <h5 class="white-text bb">CALIBRE-DTU</h5>
              <p class="grey-text text-lighten-4">
                <b> DELHI TECHNOLOGICAL UNIVERSITY</b>
                <br />
                Shahbad Daulatpur, Main Bawana Road<br> NEW DELHI-110042
                <br />
                INDIA
              </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">CONNECT WITH US</h5>
              <ul class='inline'>
                <li>
                  <a
                    class="grey-text text-lighten-3 ml-4"
                    href="https://www.linkedin.com/company/calibre-dtu/about/" target='_blank'
                    ><img src="../SVG/linkedin.svg" height="50" width='35'></img
                  ></a>
                
                  <a class="grey-text text-lighten-3" href="https://www.instagram.com/d_coder_dtu/?hl=en" target='_blank'><img src="../SVG/instagram.svg" height="50" width='35'></img
                    ></a>
                
                  <a class="grey-text text-lighten-3" href="https://www.facebook.com/Team-D_coder-1511383655668364" target='_blank'><img src="../SVG/facebook.svg" height="50" width='35'></img
                    ></a>
                
                  <a class="grey-text text-lighten-3" href="https://wa.me/919205104557" target='_blank'><img src="../SVG/whatsapp.svg" height="50" width='35'></img
                    ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2020 Copyright CALIBRE-DTU
            <a class="grey-text text-lighten-4 right" href="#navbar">BACK TO TOP<img src="../SVG/top.svg" height="30" width='35'></img></a>
          </div>
        </div>
      </footer>

    <!-- jQuery, Popper.js, Bootstrap JS. -->
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- JS FOR MATERIALIZE CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="../JS/helper.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../JS/sidenav.js"></script>
    <script src="../JS/script-component.js"></script>
    <script src="../JS/navbar.js"></script>
  </body>
</html>
