<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">al
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/node_modules/font-awesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="/node_modules/bootstrap-social/bootstrap-social.css"> 
        <link rel="stylesheet" href="/CSS/components.css">
       <title>CALIBRE-DTU</title>
   </head>
   <body>
       
    <!-- NAV-BAR -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand mr-auto" href="#"><img src="/stricslogooblack.png" height="90" width="100"><span class="head">CALIBRE-DTU  </span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html"><img src="/SVG/home.svg" height="20" width="30"> Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><img src="/SVG/search.svg" height="20" width="30">Research</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><img src="/SVG/user.svg" height="20" width="30"> Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><img src="/SVG/scroll.svg" height="20" width="30"> Papers</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><img src="/SVG/calendar.svg" height="20" width="30"> Events</a></li>
                <li class="nav-item"><a class="nav-link" href="#footer"><img src="/SVG/address-card.svg" height="20" width="30"> Contact Us</a></li>
            </ul>
         </div>
        </div>
    </nav>
    <br>
    <br> 
    <br>
    <br>


    <!-- CAROUSEL -->

    <div class="container">
        <div class="row row-content">
            <div class="col">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="/assets/news.jpg" alt="logo">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="/assets/news.jpg" alt="logo2">    
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li class="active" data-toggle="#mycarousel" data-slide-to="0"></li>
                        <li data-toggle="#mycarousel" data-slide-to="1"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="jumbotron">
        <div class="card">
            <div class="row">
              <div class="col-md-4">
                <h5 class="card-title">News Title</h5>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">Description</p>
                  <p class="card-text">This is an example description to check the card. This is an example description to check the card. THis is an example. This is an example.
                  </p>
                  <p class="card-text m"><a href="#" class="btn btn-outline-primary btn-sm">Read More</a><small class="text-muted"> Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-4">
                <h5 class="card-title">News Title2</h5>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">Description2</p>
                  <p class="card-text">This is an example description to check the card2. This is an example description to check the card. THis is an example. This is an exampl2e.
                  </p>
                  <p class="card-text m"><a href="#" class="btn btn-outline-primary btn-sm">Read More</a><small class="text-muted"> Last updated 5 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-4">
                <h5 class="card-title">News Title3</h5>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">Description3</p>
                  <p class="card-text">This is an example description to check the card3. This is an example description to check the card. THis is an example. This is an example3.
                  </p>
                  <p class="card-text m"><a href="#" class="btn btn-outline-primary btn-sm">Read More</a><small class="text-muted"> Last updated 7 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-4">
                <h5 class="card-title">News Title4</h5>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">Description4</p>
                  <p class="card-text">This is an example description to check the card4. This is an example description to check the card. THis is an example. This is an example4.
                  </p>
                  <p class="card-text m"><a href="#" class="btn btn-outline-primary btn-sm">Read More</a><small class="text-muted"> Last updated 9 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!--FOOTER-->

<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">             
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Papers</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Our Address</h5>
                <address>
                  DELHI TECHNOLOGICAL UNIVERSITY <br>
                  NEW DELHI<br>
                  <img src="/SVG/phone-alt.svg" height="15">Tel.: 0000000000<br>
                  <img src="/SVG/envelope.svg" height="15"> Email: <a href="mailto:dtu@dtu.comt">dtu@dtu.com</a>
               </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center">
                <div class="text-center"> 
                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/dtutimes/"><img src="/SVG/facebook-f.svg" height="30"></a>
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/calibre-dtu/about/"><img src="/SVG/linkedin-in.svg" height="30"></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><img src="/SVG/twitter.svg" height="30"></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                </div>
            </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p>© Copyright 2020 CALIBRE DTU</p>
            </div>
       </div>
    </div>
</footer>

    <!-- jQuery, Popper.js, Bootstrap JS. -->
  <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>