<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../node_modules/font-awesome/css/fontawesome.min.css" />
  <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css" />
  <!-- CDN FOR MATERIALIZE CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="../CSS/sidenav.css" />
  <!-- <link rel="stylesheet" href="../CSS/test.css" /> -->
  <link rel="stylesheet" href="../CSS/paper.css" />
  <link rel="stylesheet" href="../CSS/footer.css" />
  <link rel="stylesheet" href="../CSS/collaborate.css" />
  <title>CALIBRE-DTU</title>
</head>

<body>
  <!-- NAV-BAR

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand mr-auto" href="#"
          ><img src="/stricslogooblack.png" height="90" width="100" /><span
            class="head"
            >CALIBRE-DTU
          </span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html"
                ><img src="/SVG/home.svg" height="20" width="30" /> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Research.html"
                ><img src="/SVG/search.svg" height="20" width="30" />Research</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/team.html"
                ><img src="/SVG/user.svg" height="20" width="30" /> Team</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/news.html"
                ><img src="/SVG/newspaper.svg" height="20" width="30" /> News</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img src="/SVG/calendar.svg" height="20" width="30" />
                Events</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contactus.html"
                ><img src="/SVG/address-card.svg" height="20" width="30" />
                Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <br />

    Main Body
    <div class="jumbotron">
      <h1>Research Papers</h1>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--FOOTER-->

  <!-- <footer class="footer" id="footer">
      <div class="container-fluid">
          <div class="row">             
              <div class="col-md-6">
                  <div class="text-center">
                  <span class="college-name">DELHI TECHNOLOGICAL UNIVERSITY</span>
              </div>
          </div>
              <div class="col-md-6">
                  <div class="text-center"> 
                      <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/dtutimes/"><img src="/SVG/facebook-f.svg" height="30"></a>
                      <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/calibre-dtu/about/"><img src="/SVG/linkedin-in.svg" height="30"></a>
                      <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><img src="/SVG/twitter.svg" height="30"></a>
                      <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                  </div>
              </div>
         </div>
         <div class="row justify-content-center">             
                  <p>© Copyright 2020 CALIBRE DTU</p>
         </div>
      </div>
  </footer> -->

  <div class="wrapper">
    <div class="top_navbar" id="navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="top_menu">
        <div class="logo">
          <a href="/index.html" class="brand-name">CALIBRE-DTU</a>
        </div>
      </div>
    </div>
    <div class="wrap collapse">
      <div class="sidebar">
        <ul>
          <li>
            <a href="/index.html">
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="title">Home</span></a>
          </li>
          <li>
            <a href="/Components/Research.html">
              <span class="icon"><i class="fas fa-search"></i></span>
              <span class="title">Research</span></a>
          </li>
          <li>
            <a href="/Components/papers.html" class="active">
              <span class="icon"><i class="fas fa-scroll"></i></span>
              <span class="title">Papers</span>
            </a>
          </li>
          <li>
            <a href="/Components/team.html">
              <span class="icon"><i class="fas fa-user"></i></span>
              <span class="title">Meet the Team</span>
            </a>
          </li>
          <li>
            <a href="/Components/news.html">
              <span class="icon"><i class="fas fa-newspaper"></i></span>
              <span class="title">News & Events</span>
            </a>
          </li>
          <li>
            <a href="/Components/collaborate.html">
              <span class="icon"><i class="fas fa-pencil-ruler"></i></span>
              <span class="title">Collaborate with us</span>
            </a>
          </li>
          <li>
            <a href="/Components/contact.html">
              <span class="icon"><i class="fas fa-address-card"></i></span>
              <span class="title">Contact us</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Main Body -->
  <h1>Research Papers</h1>
  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title text-center">
            Recognition of opinion leaders coalitions in online social network using game theory <br />
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION<br />
            Nowadays, human decision-making power and attitude revolutionize over time and change their viewpoint
            towards substantial convinced values because of the influence of social media. Social network plays a
            crucial role in human life with the progression of technology. In the online social network, the
            responsibility of opinion leaders is also vital in information diffusion and promotion purposes. In this
            manuscript, we proposed a different Game theory-based Opinion Leader Detection (GOLD) algorithm to identify
            the group of users having the maximum synergy declared as the coalition of opinion leaders. For implementing
            purpose, we used the game theory approach in which all the users behave like a player, and a trustor–trustee
            tree formed comprised coalitions based on trust and conditional probability. We proposed an inventive and
            distinctive solution to measures the individual payoff using the distance-based …

            <br />
            Journal: Knowledge-Based Systems
          </p>
          <p class="publish-date-paper">
            Published On:- 09<sup>th</sup> May 2020
          </p>
          <p class="card-text">
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0950705120304007"
              class="btn btn-outline-primary btn-sm" target="_blank">Read More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            An Analysis of Machine Learning Techniques for Flood Mitigation<br />
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            Disaster is a very severe dispersion that occurs for a very small period, but it makes a huge impact on the
            society. Nowadays, natural hazards such as floods, earthquakes, and volcanic eruptions are increasing around
            the world. Flooding among all disasters is a very frequent disaster in the last few years. In this paper, we
            review some machine learning technologies of flood detection.

            <br />
            Books: International Conference on Innovative Computing and Communications
          </p>
          <p class="publish-date-paper">
            Published On:- 30<sup>rd</sup> Jul 2020
          </p>
          <p class="card-text">
            <a href="https://link.springer.com/chapter/10.1007/978-981-15-5148-2_27"
              class="btn btn-outline-primary btn-sm">Read More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Location based Human Behaviour Analysis on Products or Events
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            From corporate decisions like calculating the perfect target audience to political decisions like designing
            an act for citizens of a state, it has always been tried to predict how people of a certain community or
            location will react to a particular product or event. People of different regions react to a similar
            situation in a different manner; a topic may be a sensitive issue in one location and may seem to be like a
            normal one in other. Several crimes, protests and product failures can be avoided if they could simply
            predict the reaction of the target audience (population of a particular location) in a certain situation. In
            this scenario, this research work aims to analyze the behavior of people based on a different location to
            analyze the impact of the products/events which are to be launched. Hence, architecture is proposed to
            analyze how people of a given location respond to a particular event/product and this is achieved by …

            <br />
            Conference: 2020 International Conference on Electronics and Sustainable Communication Systems (ICESC)
          </p>
          <p class="publish-date-paper">
            Published On:- 07<sup>th</sup> Feb 2020
          </p>
          <p class="card-text">
            <a href="https://ieeexplore.ieee.org/abstract/document/9155869" class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Stress Detection using Smartwatches with Machine Learning: A Survey
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            In general, stress has become a significant problem in the current lifestyle, where it should be dealt
            appropriately before it leads to some blunder. To deal with stress, appropriate stress detection techniques
            should be developed. The different types of data include heart rate variance (HRV), galvanic skin response
            (GSR); skin temperature, and sleep pattern. Smartwatches contain all the sensors necessary and are to
            collect data of signals mentioned above. Different machine learning techniques are applied, such as SVM and
            KNN, to detect the stress level of the particular person. Different machine learning techniques will provide
            different accuracies. By comparing these accuracies, a better idea can be obtained. This paper analyses
            different studies to find and compare the accuracies of different signals when using different ML
            classifiers, such that the signal and classifier are utilized with the best accuracy. It is also …

            <br />
            Conference: 2020 International Conference on Electronics and Sustainable Communication Systems (ICESC)
          </p>
          <p class="publish-date-paper">
            Published On:- 07<sup>th</sup> Feb 2020
          </p>
          <p class="card-text">
            <a href="https://ieeexplore.ieee.org/abstract/document/9155568" class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- DONE -->
  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Predicting Heart Disease at Early Stages using Machine Learning: A Survey
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            Predicting and detection of heart disease has always been a critical and challenging task for healthcare
            practitioners. Hospitals and other clinics are offering expensive therapies and operations to treat heart
            diseases. So, predicting heart disease at the early stages will be useful to the people around the world so
            that they will take necessary actions before getting severe. Heart disease is a significant problem in
            recent times; the main reason for this disease is the intake of alcohol, tobacco, and lack of physical
            exercise. Over the years, machine learning shows effective results in making decisions and predictions from
            the broad set of data produced by the health care industry. Some of the supervised machine learning
            techniques used in this prediction of heart disease are artificial neural network (ANN), decision tree (DT),
            random forest (RF), support vector machine (SVM), naïve Bayes) (NB) and k-nearest neighbour …

            <br />
            Conference: 2020 International Conference on Electronics and Sustainable Communication Systems (ICESC)
          </p>
          <p class="publish-date-paper">
            Published On:- 07<sup>th</sup> Feb 2020
          </p>
          <p class="card-text">
            <a href="https://ieeexplore.ieee.org/abstract/document/9155586" class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Social Media based Surveillance Systems for Healthcare using Machine Learning: A Systematic Review
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            Real-time surveillance in the field of health informatics has emerged as a growing domain of interest among
            worldwide researchers. Evolution in this field has helped in the introduction of various initiatives related
            to public health informatics. Surveillance systems in the area of health informatics utilizing social media
            information have been developed for early prediction of disease outbreaks and to monitor diseases. In the
            past few years, the availability of social media data, particularly Twitter data, enabled real-time
            syndromic surveillance that provides immediate analysis and instant feedback to those who are charged with
            follow-ups and investigation of potential outbreaks. In this paper, we review the recent work, trends, and
            machine learning(ML) text classification approaches used by surveillance systems seeking social media data
            in the healthcare domain. We also highlight the limitations and …

            <br />
            Source: Journal of Biomedical Informatics
          </p>
          <p class="publish-date-paper">
            Published On:- 07<sup>th</sup> Feb 2020
          </p>
          <p class="card-text">
            <a href="https://www.sciencedirect.com/science/article/pii/S1532046420301283"
              class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Capsmf: a novel product recommender system using deep learning based text analysis model
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            Researchers and data scientists have developed different Recommender System Algorithms such as Content-Based
            and Collaborative-Based in order to filter a large amount of information available on the internet and
            hence, recommend only the relevant and essential content based on the personalized interests of users.
            Information acquired explicitly by collecting users’ ratings for an item lead to the problem of data
            sparsity. Many researchers have been currently working towards the improvement of rating prediction accuracy
            by integrating the auxiliary information along with the ratings provided by the users. This paper proposes a
            novel product recommender system called as “CapsMF”, it applies the advanced neural network architecture
            Capsule Networks (Caps) for document representation, and MF represents Matrix factorization. In the proposed
            approach, we have enhanced a deep neural network text …

            <br />
            Journal: Multimedia Tools and Applications
          </p>
          <p class="publish-date-paper">
            Published On:- 29<sup>th</sup> Jun 2020
          </p>
          <p class="card-text">
            <a href="https://link.springer.com/article/10.1007/s11042-020-09199-5"
              class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Various Deep Learning Approaches in Electronic Health Records
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            There is a large amount of data stored in electronic health records (EHR). EHR planned to store restaurant
            data and management assignments that were accommodating. Although these documents were used by other experts
            in clinical informatics undertakings. Early, the locale of the scientist noticed the developments of deep
            understanding, which applied exceptionally to EHR. We review deep learning concepts, advanced angles related
            to EHR in this paper. In this paper we will see the available approaches to deep learning and how they work
            with EHR.

            <br />
            Journal: Available at SSRN 3563575
          </p>
          <p class="publish-date-paper">
            Published On:- 29<sup>th</sup> Mar 2020
          </p>
          <p class="card-text">
            <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3563575"
              class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Polarity Shift Detection and Handling in Polarity Classification: A Survey
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            User-generated data over the internet is highly opinionated. Sentiment analysis is a task to extract
            opinions without losing any crucial information. Polarity classification is most researched from the last
            two decades under sentiment analysis. However, Polarity classification is a tedious job in natural language
            processing. There are certain circumstances where the polarity of the phrase differs from the polarity of
            words into it. This inconsistency is due to some trigger words that make the word polarity to get reversed.
            One of the main reasons for the performance degrade of the classification algorithm is the polarity shift.
            Polarity shift detection and handling approaches are applied to detect and handle polarity shifts, which can
            enhance the accuracy and effectiveness in classification. This paper gives a better understanding of the
            issue of polarity shift and surveys various methods of polarity shift detection and handling.

            <br />
            Journal: Available at SSRN 3562967
          </p>
          <p class="publish-date-paper">
            Published On:- 28<sup>th</sup> Mar 2020
          </p>
          <p class="card-text">
            <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3562967"
              class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Blockchain and Consensus Algorithms
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            Blockchain is a publicly distributed ledger system that provides access to all records for everyone
            participating in the network. All the additions to the block are permanent and unchangeable. All major or
            minor changes are reported in a new block and cannot be reversed. Since the ledger is being distributed,
            there is no centralized authority. By eliminating the need for intermediaries, blockchain enables parties to
            trace transactions quickly and easily. The transactions occurring on a blockchain are transparent, reliable,
            authenticated and secured with the help of cryptography. The biggest advantage of the distributed ledger of
            blockchain is reduced operating costs. Blockchain is already being used by companies like IBM, Barclays, and
            Kodak etc. Blockchain can contain details of transactions for resources other than money such as land,
            automobiles, agricultural products etc. Any adjustment must be accepted by most people in the network, and
            this is achieved using Consensus algorithms. This paper discusses some of the core algorithms for consensus
            used in blockchain systems.

            <br />
            Journal: Available at SSRN 3562974
          </p>
          <p class="publish-date-paper">
            Published On:- 28<sup>th</sup> Mar 2020
          </p>
          <p class="card-text">
            <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3562974"
              class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--DONE-->

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Opinion leader detection using whale optimization algorithm in online social network
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            In the current digital era, optimization is one of the most significant problems in the social network. Most
            of the issues related to optimization are NP-complete and not possible to solve them in polynomial time.
            Detection of opinion leader based on their optimized centrality measure is a critical issue. The opinion
            leaders have a non-trivial influence on the other user's decision-making process and can solve various
            problems related to the diffusion of new products and innovations in the real world. In this paper, we
            proposed a new Social Network-based Whale Optimization Algorithm (SNWOA) to find the top-N opinion leaders
            by measuring the reputation of the user using various standard optimization function in the network. The
            proposed algorithm is advantageous to determine the opinion leaders because it based on the bubble-net
            hunting behavior of humpback whales. The algorithm found the best possible …

            <br />
            Journal:Expert Systems with Applications
          </p>
          <p class="publish-date-paper">
            Published On:- 15<sup>th</sup> Mar 2020
          </p>
          <p class="card-text">
            <a href="https://www.sciencedirect.com/science/article/pii/S095741741930733X"
              class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Impact of Machine Learning Techniques in Precision Agriculture
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            Agriculture and its accessories contribute to approximately 17% of India's GDP and it is still the most
            popular occupation amongst 70% of India’s population. The agriculture sector provides different outputs used
            by diverse segments which include, but not limited to, use as raw materials by different industries, sources
            of nutrition and businesses, etc. However, the different methods used for growing crops are still mostly
            traditional and even borderline outdated. Indian farmer still struggles when it comes to picking up the
            right crop for right biological and non-biological factors. Thus to accelerate the yield of crops, different
            AI techniques been proposed worldwide and in this paper, we present a summarization of these different
            approaches. These techniques are a part of the paradigm, Precision Agriculture, more specifically ‘crop
            recommender systems’. The diverse procedures presented in this paper include KNN …

            <br />
            Conference: 2020 3rd International Conference on Emerging Technologies in Computer Engineering: Machine
            Learning and Internet of Things (ICETCE)
          </p>
          <p class="publish-date-paper">
            Published On:- 07<sup>th</sup> Feb 2020
          </p>
          <p class="card-text">
            <a href="https://ieeexplore.ieee.org/abstract/document/9091741/" class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            A Review: Predicting the Performance of Students Using Machine learning Classification Techniques
          </p>
        </div>
      </div>


      <!-- 2020 done -->


      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            The most important issue concerning the country's development is education. By taking into consideration of
            different attributes used by various researchers, the main focus of this paper is to present a review in an
            organised way of different classification techniques in predicting the performance of students (POS). This
            review will be helpful for the teachers of the university or college to find out the weak students, which
            will help in increasing their performance and enhance their learning, as well as this growth of the student,
            also reflects on the student background.

            <br />
            Conference: 2019 Third International conference on I-SMAC (IoT in Social, Mobile, Analytics and
            Cloud)(I-SMAC)
          </p>
          <p class="publish-date-paper">
            Published On:- 12<sup>th</sup> Dec 2019
          </p>
          <p class="card-text">
            <a href="https://ieeexplore.ieee.org/abstract/document/9032493/" class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card-title">
          <p class="paper-title">
            Blockchain and Consensus Algorithms
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-para">
            DESCRIPTION <br />
            Blockchain is a publicly distributed ledger system that provides access to all records for everyone
            participating in the network. All the additions to the block are permanent and unchangeable. All major or
            minor changes are reported in a new block and cannot be reversed. Since the ledger is being distributed,
            there is no centralized authority. By eliminating the need for intermediaries, blockchain enables parties to
            trace transactions quickly and easily. The transactions occurring on a blockchain are transparent, reliable,
            authenticated and secured with the help of cryptography. The biggest advantage of the distributed ledger of
            blockchain is reduced operating costs. Blockchain is already being used by companies like IBM, Barclays, and
            Kodak etc. Blockchain can contain details of transactions for resources other than money such as land,
            automobiles, agricultural products etc. Any adjustment must be accepted by most people in the network, and
            this is achieved using Consensus algorithms. This paper discusses some of the core algorithms for consensus
            used in blockchain systems.

            <br />
            Journal: Available at SSRN 3562974
          </p>
          <p class="publish-date-paper">
            Published On:- 28<sup>th</sup> Mar 2020
          </p>
          <p class="card-text">
            <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3562974"
              class="btn btn-outline-primary btn-sm">Read
              More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery, Popper.js, Bootstrap JS. -->
  <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- JS FOR MATERIALIZE CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script src="../JS/helper.js"></script>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../JS/sidenav.js"></script>
  <script src="../JS/script-component.js"></script>
  <script src="../JS/navbar.js"></script>
  <script src="../JS/collaborate.js"></script>
</body>

</html>