<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    al
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/font-awesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap-social/bootstrap-social.css"
    />
    <link rel="stylesheet" href="/CSS/components.css" />
    <link href="https://css.gg/browse.css" rel="stylesheet" />
    <title>CALIBRE-DTU</title>
  </head>
  <body>
    <!-- NAV-BAR -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand mr-auto" href="#"
          ><img src="/stricslogooblack.png" height="90" width="100" /><span
            class="head"
            >CALIBRE-DTU
          </span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html"
                ><img src="/SVG/home.svg" height="20" width="30" /> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Research.html"
                ><img src="/SVG/search.svg" height="20" width="30" />Research</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img src="/SVG/user.svg" height="20" width="30" /> Team</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/news.html"
                ><img src="/SVG/newspaper.svg" height="20" width="30" /> News</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img src="/SVG/calendar.svg" height="20" width="30" />
                Events</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer"
                ><img src="/SVG/address-card.svg" height="20" width="30" />
                Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <br />

    <!-- Main Body -->
    <div class="jumbotron">
      <h1>Research Papers</h1>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="card-title">
              <p class="paper-title">
                Lorem Ipsum (Title of the papers will be added here)
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas pellentesque lobortis lectus.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas pellentesque
                lobortis lectus, vel feugiat sapien luctus quis. Donec non
                aliquam ante. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aenean porta nisl ac
                molestie elementum.This is a test to test.
              </p>
              <p class="publish-date-paper">
                Published On:- 23<sup>rd</sup> Oct 2020
              </p>
              <p class="card-text">
                <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--FOOTER-->

    <footer class="footer" id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 offset-1 col-sm-2">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li><a href="/index.html">Home</a></li>
              <li><a href="#">Research</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Papers</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="#">Events</a></li>
            </ul>
          </div>
          <div class="col-7 col-sm-5">
            <h5>Our Address</h5>
            <address>
              DELHI TECHNOLOGICAL UNIVERSITY <br />
              NEW DELHI<br />
              <img src="/SVG/phone-alt.svg" height="15" />Tel.: 0000000000<br />
              <img src="/SVG/envelope.svg" height="15" /> Email:
              <a href="mailto:dtu@dtu.comt">dtu@dtu.com</a>
            </address>
          </div>
          <div class="col-12 col-sm-4 align-self-center">
            <div class="text-center">
              <a
                class="btn btn-social-icon btn-facebook"
                href="https://www.facebook.com/dtutimes/"
                ><img src="/SVG/facebook-f.svg" height="30"
              /></a>
              <a
                class="btn btn-social-icon btn-linkedin"
                href="https://www.linkedin.com/company/calibre-dtu/about/"
                ><img src="/SVG/linkedin-in.svg" height="30"
              /></a>
              <a
                class="btn btn-social-icon btn-twitter"
                href="http://twitter.com/"
                ><img src="/SVG/twitter.svg" height="30"
              /></a>
              <a class="btn btn-social-icon" href="mailto:"
                ><i class="fa fa-envelope-o fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <p>© Copyright 2020 CALIBRE DTU</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery, Popper.js, Bootstrap JS. -->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
