<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/font-awesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap-social/bootstrap-social.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/components.css" />
    <link rel="stylesheet" href="/CSS/research.css" />
    <title>CALIBRE-DTU/Research</title>
  </head>
  <body>
    <!-- NAV-BAR -->

    <nav class="navbar navbar-expand-lg navbar-light mt-0">
      <div class="container">
        <a class="navbar-brand mr-auto" href="#"
          ><img src="/stricslogooblack.png" height="90" width="100" /><span
            class="head"
            >CALIBRE-DTU
          </span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html"
                ><img src="/SVG/home.svg" height="20" width="30" /> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="papers.html"
                ><img src="/SVG/scroll.svg" height="20" width="30" />Papers</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/team.html"
                ><img src="/SVG/user.svg" height="20" width="30" />Meet the
                Team</a
              >
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/Components/news.html"
                ><img src="/SVG/newspaper.svg" height="20" width="30" /> News</a
              >
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img src="/SVG/calendar.svg" height="20" width="30" />
                Events</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/contactus.html"
                ><img src="/SVG/address-card.svg" height="20" width="30" />
                Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <br />

    <!-- MAIN -->

    <div class="cards-grid">
      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #1</p>
            <button id="idview" class="org-view" type="submit">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>

      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #2</p>
            <button id="idview" class="org-view" type="submit">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>

      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #3</p>
            <button class="org-view" type="submit" id="idview">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>

      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #4</p>
            <button class="org-view" type="submit" id="idview">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>

      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #5</p>
            <button class="org-view" type="submit" id="idview">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>

      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #6</p>
            <button class="org-view" type="submit" id="idview">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>

      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #7</p>
            <button class="org-view" type="submit" id="idview">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>

      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #8</p>
            <button class="org-view" type="submit" id="idview">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>

      <div class="card bx-shadow">
        <div class="card-org">
          <div class="line b-b">
            <p class="org-name">RESEARCH TOPIC #9</p>
            <button class="org-view" type="submit" id="idview">
              <img src="../SVG/Icon metro-enlarge.svg" />
            </button>
          </div>
          <p class="orgdes">
            Description of research. Random texts coming here and there. Lets
            enter something to fill these spaces. This is just a sample of the
            text that is to be enterd into the boxes.
          </p>
          <div class="org-tags">
            <button class="tag btn btn-outline-danger btn-sm" type="submit">
              AI
            </button>
            <button class="tag btn btn-outline-primary btn-sm" type="submit">
              ML
            </button>
            <button class="tag btn btn-outline-dark btn-sm" type="submit">
              Data Science
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL -->

    <div id="idpop" class="pop">
      <div class="pop-content">
        <div class="pop-flex top-row">
          <h1 class="pop-heading">RESEARCH TOPIC</h1>
          <span class="closeBtn">&times;</span>
        </div>
        <div class="pop-body">
          <p class="Abt">About Us</p>
          <p>
            This will describe about the topic. The details will be given here.
            The one viewing this gets a good idea about the topic.
          </p>
          <div class="pop-flex bottom-row">
            <div>
              <p class="toprep mt-3">Top References</p>
              <p class="silt">
                Ref #1
                <a
                  href="https://www.google.com/search?q=ai&oq=ai&aqs=chrome..69i57l2j69i65l3j69i60l3.264j0j4&sourceid=chrome&ie=UTF-8"
                  class="url ml-4"
                  target="_blank"
                  >www.google.com/AI</a
                >
              </p>
              <p class="silt">
                Ref #2
                <a
                  href="https://www.google.com/search?sxsrf=ALeKk035y71rTn_zgOqlKbqSLEjHEjzivQ%3A1589893914847&ei=GtvDXpugM8KJ4-EPgIWqwAg&q=ml&oq=ml&gs_lcp=CgZwc3ktYWIQAzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzICCAAyAggAMgIIADICCAA6BAgjECc6BwgAEBQQhwI6BQgAEIMBUJWNA1idmwNg1Z8DaAJwAHgAgAF9iAHoA5IBAzAuNJgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwiblZmwgMDpAhXCxDgGHYCCCogQ4dUDCAw&uact=5"
                  class="ml-4"
                  target="_blank"
                  >www.google.com/ML</a
                >
              </p>
            </div>
            <div>
              <div class="org-side-box">
                <p class="side">LANGUAGES</p>
                <div class="org-tags">
                  <button
                    class="tag btn btn-outline-danger btn-sm"
                    type="submit"
                  >
                    AI
                  </button>
                  <button
                    class="tag btn btn-outline-primary btn-sm"
                    type="submit"
                  >
                    ML
                  </button>
                  <button class="tag btn btn-outline-info btn-sm" type="submit">
                    DS
                  </button>
                </div>
              </div>
              <div class="org-side-box">
                <p class="side">RELATED TOPICS</p>
                <div class="org-tags">
                  <button class="tag btn btn-primary" type="submit">
                    Topic 1
                  </button>
                  <button class="tag btn btn-info" type="submit">
                    Topic 2
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--FOOTER-->

    <footer class="footer" id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="text-center">
              <span class="college-name">DELHI TECHNOLOGICAL UNIVERSITY</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <a
                class="btn btn-social-icon btn-facebook"
                href="https://www.facebook.com/dtutimes/"
                ><img src="/SVG/facebook-f.svg" height="30"
              /></a>
              <a
                class="btn btn-social-icon btn-linkedin"
                href="https://www.linkedin.com/company/calibre-dtu/about/"
                ><img src="/SVG/linkedin-in.svg" height="30"
              /></a>
              <a
                class="btn btn-social-icon btn-twitter"
                href="http://twitter.com/"
                ><img src="/SVG/twitter.svg" height="30"
              /></a>
              <a class="btn btn-social-icon" href="mailto:"
                ><i class="fa fa-envelope-o fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <p>© Copyright 2020 CALIBRE DTU</p>
        </div>
      </div>
    </footer>

    <!-- jQuery, Popper.js, Bootstrap JS. -->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/JS/research.js"></script>
  </body>
</html>
