<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CALIBRE-DTU</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/font-awesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap-social/bootstrap-social.css"
    />
    <link rel="stylesheet" href="/CSS/team.css" />
  </head>
  <body>
    <!-- NAV-BAR -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand mr-auto" href="#"
          ><img src="/stricslogooblack.png" height="90" width="100" /><span
            class="head"
            >CALIBRE-DTU
          </span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html"
                ><img src="/SVG/home.svg" height="20" width="30" /> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/Research.html"
                ><img src="/SVG/search.svg" height="20" width="30" />Research</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/team.html"
                ><img src="/SVG/user.svg" height="20" width="30" /> Team</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Components/papers.html"
                ><img src="/SVG/scroll.svg" height="20" width="30" /> Papers</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img src="/SVG/calendar.svg" height="20" width="30" />
                Events</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer"
                ><img src="/SVG/address-card.svg" height="20" width="30" />
                Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container">
      <h1>Faculty</h1>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Dr. Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                Professor
              </h5>
            </div>
          </div>
        </div>
      </div>

      <h1>Graduate Students</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                PhD Scholar
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                PhD Scholar
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                PhD Scholar
              </h5>
            </div>
          </div>
        </div>
      </div>

      <h1>Post-Graduate Students</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                M.Tech Student
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                M.Tech Student
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                M.Tech Student
              </h5>
            </div>
          </div>
        </div>
      </div>

      <h1>Under-Graduate Students</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                B.Tech Student
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                B.Tech Student
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                B.Tech Student
              </h5>
            </div>
          </div>
        </div>
      </div>

      <h1>Interns/Research Assistants</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                B.Tech Student, XYZ Delhi
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                B.Tech Student, XYZ Delhi
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 13.5rem;">
            <a href="#">
              <img
                src="https://news.nd.edu/assets/113411/james_brockmole_300.jpg"
                class="card-img-top image-size"
                alt="..."
            /></a>
            <div class="card-body">
              <a class="name" href="#"
                ><big class="card-text"><h5>Loream Ipsum</h5></big></a
              >
              <h5 class="card-text">
                B.Tech Student, XYZ Delhi
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--FOOTER-->

    <footer class="footer" id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="text-center">
              <span class="college-name">DELHI TECHNOLOGICAL UNIVERSITY</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <a
                class="btn btn-social-icon btn-facebook"
                href="https://www.facebook.com/dtutimes/"
                ><img src="/SVG/facebook-f.svg" height="30"
              /></a>
              <a
                class="btn btn-social-icon btn-linkedin"
                href="https://www.linkedin.com/company/calibre-dtu/about/"
                ><img src="/SVG/linkedin-in.svg" height="30"
              /></a>
              <a
                class="btn btn-social-icon btn-twitter"
                href="http://twitter.com/"
                ><img src="/SVG/twitter.svg" height="30"
              /></a>
              <a class="btn btn-social-icon" href="mailto:"
                ><i class="fa fa-envelope-o fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <p>© Copyright 2020 CALIBRE DTU</p>
        </div>
      </div>
    </footer>

    <!-- jQuery, Popper.js, Bootstrap JS. -->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/JS/script-component.js"></script>
  </body>
</html>
